<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Madlibs Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the form below to generate your madlibs!</h1>
    <form action="/" method="post">
      <label for="noun1">Noun 1:</label>
      <input id="noun1" name="noun1" type="text">
      <label for="noun2">Noun 2:</label>
      <input id="noun2" name="noun2" type="text">
      <label for="noun3">Noun 3:</label>
      <input id="noun3" name="noun3" type="text">
      <label for="nounPlural">Noun (Plural):</label>
      <input id="nounPlural" name="nounPlural" type="text">
      <label for="place">Place:</label>
      <input id="place" name="place" type="text">
      <label for="adjective">Adjective:</label>
      <input id="adjective" name="adjective" type="text">
      <button type="submit">Generate my story!</button>
    </form>
  </body>
</html>